<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951893977609-ma6a48qcj8v2vlssnj8rt2uj3jd6un42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951893977609-ma6a48qcj8v2vlssnj8rt2uj3jd6un42</string>
	<key>API_KEY</key>
	<string>AIzaSyDYrLkYzQqSg0UfohZPBb8xtBV8DunRrYk</string>
	<key>GCM_SENDER_ID</key>
	<string>951893977609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raveapp.Rave</string>
	<key>PROJECT_ID</key>
	<string>rave-review-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rave-review-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951893977609:ios:43c49e836e8314463566d8</string>
</dict>
</plist>